---
layout: default
title: Home
---

<h1>RIT Construct MakerSpace - Lab Management</h1>

<h2>Project Synopsis</h2>

<p>
    The RIT Construct is a dedicated makerspace, open to all students who are interested in
    3D printing, woodwork, machining, and electronics. With the construction of the new
    building, the Shed, the Construct will be increasing its square footage tenfold,
    from 2,000 sq. ft. to 20,000.
</p>

<p>
    The goal is to develop a centralized server, website, and database to help the
    Construct personnel manage its makerspaces and makers. The project will provide
    functionality to manage users directly, manage 3D printing and other machines,
    manage and deliver training and safety procedure information, and provide an
    inventory management system.
</p>

<p>
    The portal will also deliver online training and
    manage access levels to machines accordingly, as well as allow lab managers to
    train users and manage access levels. Finally, the system will generate audit
    logs for all events and transactions throughout the system.
</p>

<h2>Sponsoring organization</h2>

<img class="rit-logo" src="/assets/images/rit.svg" alt="Rochester Institute of Technology"/>

<h2>Team AAMPP</h2>

<div class="members">
    {% for member in site.data.members %}
    <div class="member">
        <img src="{{ member.image }}" alt="{{ member.name }}'s profile picture"/>
        <div class="info">
            <div class="name">{{ member.name }}</div>
            <div class="role">{{ member.role }}</div>
        </div>
    </div>
    {% endfor %}
</div>

<h2>Domain Model</h2>

<img src="/assets/images/domain.svg" alt="Domain model"/>

<h2>Artifacts</h2>

<a href="https://docs.google.com/spreadsheets/d/15uAR_36ksTdQ_u-QEco29fDNKsbyx7VlobAcvEOmsxQ/edit?usp=sharing">Time
    Tracking Sheet</a>

<h3>Four-ups</h3>

<ul>
    {% for fourup in site.fourups %}
    <li>
        <a href="{{ fourup.url }}">{{ fourup.title }}</a>
    </li>
    {% endfor %}
</ul>
